.webpage-header{
    color: white;
}

.nav{
    max-height: 300px;
    overflow-y:scroll;
}

#worldmap{
    width: 100%;
    height: 525px;
    margin-top: 30px
}

#listPays {
    height: 550px;
    overflow: auto;
    margin-top: 100px;
}

.list-group {
    background-color: #444444;
}

#listli{
    word-wrap:break-word;
    background-color: #333333;
    color: #ffffff;
    border: none;
}

#listPays::-webkit-scrollbar{
    width:16px;
    background-color:#444444;
}

#listPays::-webkit-scrollbar-thumb{
    background-color:#222222;
    border-radius:10px;
}
#listPays::-webkit-scrollbar-thumb:hover{
    background-color:#222222;
    border:1px solid #333333;
}
#listPays::-webkit-scrollbar-thumb:active{
    background-color:#222222;
    border:1px solid #333333;
}
#listPays::-webkit-scrollbar-track{
    border:1px gray solid;
    border-radius:10px;
    -webkit-box-shadow:0 0 6px gray inset;
}
a {
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: grey;
}

#noMargin{
    margin: 0px;
    padding: 0px;

}
