body {
    background: none;
}

.full {
    background-color: #444444;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.webpage-header{
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: grey;
}

.container-fluid{
    height: 80vh;
}

.list-group{
    height: 75vh;
    background-color: #444444;
}

#listPays {
    height: 76vh;
    overflow: scroll;
    overflow-x: hidden;
}

#listli{
    word-wrap:break-word;
    background-color: #333333;
    color: #ffffff;
    border: none;
}

#listli:hover{
    cursor: pointer;
}

#listPays::-webkit-scrollbar{
    width:16px;
    background-color:#444444;
}

#listPays::-webkit-scrollbar-thumb{
    background-color:#222222;
    border-radius:10px;
}
#listPays::-webkit-scrollbar-thumb:hover{
    background-color:#222222;
    border:1px solid #333333;
}
#listPays::-webkit-scrollbar-thumb:active{
    background-color:#222222;
    border:1px solid #333333;
}
#listPays::-webkit-scrollbar-track{
    border:1px gray solid;
    border-radius:10px;
    -webkit-box-shadow:0 0 6px gray inset;
}

footer{
    width: 100%;
}

#backTr{
    background-color: #333333;
    border : none;
}

.allSize{
    height: 80vh;
}
